button {
    background-color: rgb(45, 45, 46);
    color:rgb(244, 245, 252);
    border: none;
    height: 50px;
    width: 200px;
    } 

p {
    color: rgb(36, 36, 36);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    }